body{
    background-color:black;
}
a{
    text-decoration: none;
    color:#cad8b8;
}
* {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
  }
section{
    min-height: 100vh;
}
.navbar-brand, .nav-link{
    color:white;
}

#accueil{
    position: relative;
    top:0px;
    overflow-x: clip;
    background: linear-gradient(330.24deg, rgba(234, 240, 243, 0) 31.06%, #0B1D26 108.93%);
    padding:0px;
}
#montagnes_arriere{
    margin-top: 7rem;
    z-index:1;
}

#montagnes_milieu{
    position: absolute;
    margin-top:-15%;
    z-index:2;
}

#montagnes_devant{
    position: absolute;
    margin-top:-23%;
    width:100%;
    right:0px;
    z-index:3;
} 

#rapace{
    position: absolute;
    left: 50%;
    top: 15%;
}

@media (max-width: 778px){
    #montagnes{
        transform: translateY(200px);
    }
}


#menubarre{
    position: fixed;
    left: 1337px;
    top: 250px;
    width:100px;
    z-index: 100;
}
#menubarre a{
    text-decoration: none;
    color:white;
}
#slider{
    /* Slider BG */
    width: 3px;
    height: 240px;  
    /* Weiß */
    background: #FFFFFF;
    z-index: 2;
    opacity:0.5;
}

#indicateur{
    /* Slider Indicator */
    width: 3px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    /* Weiß */
    background: #FFFFFF;  
}

#menubarre h5 a:hover #indicateur {
    left: calc(50% - 5px);
  }

#bienvenu{
    position:absolute;
    padding: 4px;
    z-index: 1;
}
.active{
    color:aqua;
}
.line{
    display: block;
    background-color:#FBD784;
    height: 2px;
    width:72px;
}
h2{
    color:#FBD784;
    text-transform: capitalize;
}

.card{
    width:380px;
    height: 480;
}
#cv{
    z-index:1;
}
#textepresentation{
    padding-left:15%;
}

@media (max-width: 576px){
    #textepresentation{
        text-align: center;
    }
    #liane{
        transform: translateY(100px);
    }
    #bienvenu{
        width:320px;
    }
}