body{
    margin:0px;
}
#header{
    height: 70px;
}

#paysage{
    /* BG Hero */

position: absolute;
width: 1920px;
height: 1200px;
left: 0px;
top: 0px;
background: linear-gradient(330.24deg, rgba(11, 29, 38, 0) 31.06%, #0B1D26 108.93%);

}
#montagnes_arriere{
    width: 1708px;
    height: 937.05px;
    left: 70%;
    top: 20%;
}

#montagnes_milieu{
    position: absolute;
    width: 2955px;
    height: 345px;
    left: -1053px;
    top: 563px;
}

#montagnes_devant{
    position: absolute;
    width: 1522px;
    height: 381px;
    left: 0px;
    top: 600px;
}

#rapace{
    background-image: url('./img/rapace.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 15%;
    top: 15%;
    width: 198px;
    height: 115px;

}
